.hero-produto {
    background: var(--bg-medio);
    color: var(--bg-branco);
    padding: 120px 0 80px;
    max-height: 100vh;
}

.hero-conteudo-produto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.imagens-produto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imagem-principal{
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
}

.thumbnail-galeria{
    display: flex;
    gap: 15px;
}

.thumbnail{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.thumbnail:hover{
    opacity: 1;
}

.info-produto h1{
    margin-bottom: 20px;
    font-family: var(--fonte-popins);
}

.descricao-produto{
    color: var(--texto-cinza);
    margin-bottom: 30px;
    font-family: var(--fonte-roboto);
    max-width: 100vw;
}


@media (max-width: 768px) {
    .hero-conteudo-produto,
    .grid-detalhes,
    .conteudo-seguro {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .info-produto h1 {
        font-size: 2.5rem;
    }

    .titulo-secao {
        font-size: 2rem;
    }

    .grid-dados {
        grid-template-columns: 1fr;
    }

    .grid-produtos {
        grid-template-columns: 1fr;
    }

    .info-entrega {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .info-produto h1 {
        font-size: 2rem;
    }

    .texto-seguro h2 {
        font-size: 2rem;
    }

    .bttn-primario {
        padding: 12px 20px;
        font-size: 0.9rem;
    }

    .imagem-principal {
        height: 300px;
    }
} 