.seguros-planos {
    background: var(--bg-medio);
    padding: 80px 0;
    height: auto;
}

.grid-planos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 100%;
    margin: 0 auto;
}

.plano-card {
    padding: 40px;
    color: var(--texto-branco);
    position: relative;
}

.plano-card.silver {
    background: var(--bg-preto);
    border: 2px solid var(--bg-cinza);
}

.plano-card.gold {
    background: var(--bg-preto);
    border: 2px solid var(--amarelo-principal);
}

.titulo-plano {
    margin-bottom: 20px;
    text-transform: uppercase;
    
    font-family: var(--fonte-popins);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--bg-cinza);
}

.titulo-plano.gold {
    color: var(--amarelo-principal);
}

.beneficios-plano {
    list-style: none;
    margin-bottom: 30px;

    font-family: var(--fonte-roboto);
    font-size: var(--fs-m);
    font-weight: var(--fw-medium);
    line-height: var(--lh-m);
}

.beneficios-plano li {
    padding: 12px 0;
    border-bottom: 1px solid var(--bg-cinza);
    position: relative;
    padding-left: 25px;
}

.beneficios-plano li::before {
    content: '✓';
    position: absolute;
    left: 0;
    color: var(--amarelo-principal);
    font-weight: bold;
}

.vantagens {
    background: var(--bg-cinza);
    padding: 80px 0;
}

.grid-vantagens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.item-vantagem {
    text-align: left;
    color: var(--texto-branco);
}

.icone-vantagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.titulo-vantagem {
    margin-bottom: 15px;
    font-family: var(--fonte-popins);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-l-b);
    line-height: 2rem;
}

.descricao-vantagem {
    text-align: justify;
    font-family: var(--fonte-roboto);
    font-size: var(--fs-m);
    font-weight: var(--fw-regular);
    line-height: var(--lh-m);
}

.faq {
    background: var(--bg-branco);
    padding: 80px 0;
    height: auto;
}

.faq-titulo {
    font-size: 2.5rem;
    margin-bottom: 60px;
    color: var(--texto-preto);
}

.faq-item {
    border-bottom: 1px solid var(--texto-cinza);
    margin-bottom: 20px;
}

.faq-duvida {
    display: none;
}

.faq-label {
    display: block;
    padding: 20px 0;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    color: var(--texto-preto);

    font-family: var(--fonte-popins);
    font-size: var(--fs-m);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-m);
}

.faq-label::before {
    content: '●';
    color: var(--amarelo-principal);
    margin-right: 15px;
    font-size: 1.5rem;
}

.faq-label::after {
    content: '+';
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.faq-duvida:checked + .faq-label::after {
    transform: rotate(45deg);
}

.faq-resposta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 20px;
}

.faq-duvida:checked ~ .faq-resposta {
    max-height: 200px;
    padding: 0 20px 20px;
}

.faq-resposta p {
    color: var(--bg-cinza);

    font-family: var(--fonte-roboto);
    font-size: var(--fs-m);
    font-weight: var(--fw-regular);
    line-height: var(--lh-m);
}


@media (max-width: 575px){
    .faq-titulo {
        font-size: 2rem;
    }

    .grid-planos {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .grid-vantagens {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

/* 


@media (max-width: 768px) {
    .titulo-secao,
    .faq-titulo {
        font-size: 2rem;
    }

    .grid-planos {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .grid-vantagens {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .card-plano {
        padding: 30px 20px;
    }

    .item-vantagem {
        text-align: center;
    }
} */