header{
    background-color: var(--bg-preto);
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 25px 80px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao{
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navegacao a{
    color: var(--texto-branco);
    text-decoration: none;
    transition: color 0.25s;

    font-family: var(--fonte-popins);
    font-size: var(--fs1-m);
    font-weight: var(--fw1-m);
}

.navegacao a:hover{
    color: var(--amarelo-principal);
}

#inicio{
    background: var(--bg-preto);
    color: var(--texto-branco);
    max-height: 640px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.conteudo-inicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}

.texto-inicio{
    max-width: 550px;
    gap: auto;
    margin-top: 3rem;
}

.texto-inicio h1{
    max-width: 550px;
    line-height: var(--flh-xxl);
    font-family: var(--fonte-popins);
    font-size: var(--fs-xxl);
    font-weight: var(--fw-xxl);

    margin-bottom: 2rem;

    & span{
        color: var(--amarelo-principal);
    }

}

.texto-inicio p {
    max-width: 405px;
    color: var(--texto-cinza);
    font-family: var(--fonte-roboto);
    font-size: var(--fs2-l);
    font-weight: var(--fw2-l);
    line-height: var(--flh2-l);
    text-align: justify;

    margin-bottom: 3rem;
}

.bttn-primario {
    background: var(--button-primary);
    color: var(--texto-preto);
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;

    width: 10rem;
    text-align: center;
    
    text-transform: uppercase;
    font-family: var(--fonte-popins);
    font-weight: bold;
    font-size: 1,125rem;
    line-height: 1,5rem;
}

.conteudo-inicio{
    gap: 60px;
}
.conteudo-inicio img {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 100%;
    height: 45rem;
    object-fit: cover;
    margin-top: 5rem;
    
}

#modelos{
    max-width: 70rem;
    max-height: 33rem;
    padding: 144px 80px;
    position: relative;
    z-index: 1;
    margin-bottom: 400px;
}

#modelos h1{
    width: 47rem;
    max-width: 50rem;
    margin-bottom: 2rem;
}

.grid-produtos{
    display: flex;
    gap: 30px;
}

.card-produtos{
    font-family: var(--fonte-popins);
    font-size: var(--fs1-xl);
    font-weight: var(--fw1-xl);
    line-height: var(--flh1-xl);

    & span{
        color: var(--amarelo-principal);
    }

    & a{
        text-decoration: none;
        color: var(--texto-preto);
    }

    & img{
        border-radius: 5px;
        width: 352px;
        height: 399px;
    }
}

#tecnologia{
    max-height: 905px;
    position: relative;
    z-index: 1;
}

.conteudo-tecnologia{
    background-color: var(--bg-medio);
    height: 780px;
    display: flex;
    padding: 0 80px 0 80px;    
}

.imagem-tecnologia img{
    position: relative;
    width: 560px;
    top: -64px;
}

.texto-tecnologia{
    width: 500px;
    margin-right: 60px;
    margin-top: 75px;
}

.texto-tecnologia strong{
    font-family: var(--fonte-roboto);
    color: var(--texto-cinza);
    text-transform: uppercase;
}

.texto-tecnologia h1 {
    margin-top: 15px;
    line-height: var(--flh-xxl);
    font-family: var(--fonte-popins);
    font-size: var(--fs-xxl);
    font-weight: var(--fw-xxl);
    color: var(--texto-branco);

    & span{
        color: var(--amarelo-principal);
    }
}

.texto-tecnologia p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--texto-cinza);
    font-family: var(--fonte-roboto);
    font-size: var(--fs2-l);
    font-weight: var(--fw2-l);
    line-height: var(--flh2-l);
    text-align: justify;
}

.texto-tecnologia a{
    text-decoration: none;
    color: var(--amarelo-principal);
    text-transform: uppercase;
    font-family: var(--fonte-roboto);
    font-size: var(--fs2-l);
    font-weight: var(--fw1-xl);
    line-height: var(--flh2-l);
}

.ficha-tecnica{
    margin-top: 30px;
}

.dado h4{
    font-family: var(--fonte-popins);
    color: var(--texto-branco);
    font-weight: var(--fw2-l);
    line-height: var(--flh2-l)
}

.dado p{
    margin-top: 0;
    line-height: var(--fs1-m);
}

.dado img{
    width: 20px;
    height: 20px;
}

#parceiros{
    max-width: 1120px;
    width: 1120px;
    padding: 150px 80px 150px 80px;
    position: relative;
    z-index: 1;
}

#parceiros h1{
    max-width: 1120px;
    width: 600px;
}

.parceiros{
    max-width: 1120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 80px 100px;

    margin-left: 80px;
    margin-top: 80px;

    & img{
        width: 125px;
        height: 40px;
    }
}
