:root {
    --button-primary: linear-gradient(90deg, #FFC800 0%, #F7B108 90%, #F2A60D 100%);
    --button-secondary: linear-gradient(90deg, #606060 0%, #474747 100%);
    --amarelo-principal: #FFBB00;
    --amarelo-secundario: #A66F00;
    --bg-branco: #FFFFFF;
    --bg-claro: #F7F7F7;
    --bg-preto: #000000;
    --bg-medio: #141414;
    --bg-cinza: #606060;

    --texto-branco: #FFFFFF;
    --texto-preto: #000000;
    --texto-cinza: #AEAEAE;
    --fonte-popins: "Poppins", sans-serif;
    --fonte-roboto: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--bg-preto);
    margin: 0;
    padding: 15px 15px ;
    position: fixed;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navegacao a {
    color: var(--texto-branco);
    text-decoration: none;
    transition: color 0.25s;
}

.navegacao a:hover {
    color: var(--amarelo-principal);
}
